@model BlueBadgeProject.Models.WorkoutPlanDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WorkoutPlanDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlanId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intensity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intensity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlanId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
