@model IEnumerable<BlueBadgeProject.Models.DietListItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DietId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DietId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.DietId  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.DietId  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.DietId  })
        </td>
    </tr>
}

</table>
